* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-website);
}

.grid-2 {
    display: grid;
    gap: 2rem;
}

@media(min-width: 33em) {
    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}