::-webkit-scrollbar {
    width: 8px;
    
    /* Larghezza della barra di scorrimento */
}

::-webkit-scrollbar-track {
    background: #0000001c;
    /* Colore di sfondo della traccia della barra di scorrimento */
}

::-webkit-scrollbar-thumb {
    background: #547581;
    border-radius: 25px;
    /* Colore del thumb (il "manico" della barra di scorrimento) */
}

::-webkit-scrollbar-thumb:hover {
    background: #1ea6db;
    /* Cambia il colore del thumb al passaggio del mouse */
}

a:active {
    background: transparent;
    /* Rimuove il contorno attivo quando il bottone è cliccato */
}

::selection {
    background: rgba(111, 158, 230, 0.123);
    
}

:root {
    --bg-website: #0e0d0d;
    --color-title: linear-gradient(180deg, #89d8f0 0%, #c3f0c8 100%);
}

.color {
    background-image: var(--color-title);
    color: transparent;
    -webkit-background-clip: text;
}


.header{
    height: 100vh;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .container{
        transform: translateY(-8vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 100%;

    }

    .container-button{
        display: flex;
        position: absolute;
        bottom: 1rem;
        justify-content: space-between;
        width: 100%;
    }

}

.padding-block-8{
   
    padding-block: 8rem;

}

section{
    padding-inline: 1rem;
    width: min(1600px, 100% - 1rem);
    margin-inline: auto;
    overflow: hidden;
}



.container-button {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
}

#body{

    .container:nth-child(3){
        .container-text{
            display: flex;
            flex-direction: column;
            align-items: end;

            h2, p, h1{
                text-align: end;
            }
        }
    }

    

    



    
}



.container-text {
    margin-block: auto;
}

#img-design {
    margin-top: 1rem;
    background: url(../images/design.png) no-repeat center/cover;
    opacity: 1;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 25px;
    transform: rotate(1deg);
    max-height: 500px;

}



#img-webapp {
    margin-top: 1rem;
    background: url(../images/webapp.png) no-repeat center/cover;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 25px;
    transform: rotate(-2deg);
    order: 1;

}

#who{
    
    height: 100svh;
    width: min(1800px, 100% - 1rem);
    display: grid;
    align-items: center;
    color: white;
    .container{
        
        align-items: start;
        h2, h1{
            font-size: var(--step-8);
            line-height: calc(var(--step-8) * .9);
        }

        p{
            width: 50%;
        }

        .grid-2{
            gap: 2rem;
            margin-top: 2rem;
            p{
                width: 100%;
            }
        }
        
    }
}

#me{
    margin-top: 5rem;
    color: white;

    img{
        margin-inline: auto;
        margin-block: auto;
        width: 100%;
        border-radius: 25px;
    }

    gap: 4rem;

    .container-text{
        margin-block: auto;
        text-align: end;

        .text{
            margin-top: 3rem;
        }
    }

    
    
}



#header-contact{


    

    padding-top: 12rem;
    color: white;

    p{
        margin-top: 2rem;
    }
}


#contact-form{

    svg {
            fill: white;
        }

    margin-top: 8rem;
    text-align: end;

    .container-text{
        border-right: 10px solid rgb(174, 218, 226);
        padding-right: 2rem;
    }
}

#body-404{
    display: grid;
    
    #header-404 {
    
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-top: 8rem;
        }


        footer{
            align-self: end;
        }

    
}




.margin-top-1{
    margin-top: 1rem
}

.container-wave{
    margin-top: 10rem;
    overflow: hidden;
}

.container-social{
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin-top: 1.8rem
}





@media (min-width: 66em){
    #body {
        #img-design,
            #img-webapp {
                width: 500px;
                margin-inline: auto;
                aspect-ratio: 1/1;
            }
    }

    
}

@media (min-width: 33em) {
    #img-webapp{
        order: initial!important;
    }


}




.animated{
    
    animation: colored 20s infinite reverse linear;

}




@keyframes colored{
    0%{
        color: rgb(144, 230, 230)
    }

    20%{
        color: rgb(145, 151, 233)
    }

    40%{
        color: rgb(99, 192, 99);
    }

    60%{
        color: rgb(231, 231, 103);
    }

    80%{
        color: rgb(235, 136, 136)
    }

    100%{
        color: rgb(144, 230, 230)
    }
}



/*# sourceMappingURL=style.css.map */