#privacy {
    padding-block: 8rem;
    display: grid;;
    gap: 2rem;
    position: relative;
    border-left: 1rem solid white;
    padding-left: 2rem;

    h1{
        text-align: start;
        margin-bottom: 4rem;
        font-size: var(--step-9);
        line-height: calc(var(--step-9) * .9);
    }


    h2, h1{
        font-size: var(--step-3);
        color: white;
        line-height: calc(var(--step-3) * .9);
        margin-bottom: .6rem;
        text-align: start;
    }

    p {
        font-size: var(--step-1);
        color: white;
    }
}


